body {
    background-color: #F1F1F1;
}

.card {
    border: 1px solid #898989;
}

.first {
    display: flex;
    justify-content: center;
    width: 100%;
}

p {
    border: 1px solid #898989;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 10px 35px;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    background: linear-gradient(155.88deg, crimson 0%, #FF3DFE 51.89%, #5253FF 100%);
}